/* ----------------------------------------- */

/*  Fonts                                    */

/* ----------------------------------------- */

@font-face {
    font-family: "Veteran";
    src: url("/systems/motw/fonts/veteran.ttf") format("truetype");
}

@font-face {
    font-family: "Thirdman";
    src: url("/systems/motw/fonts/3rdman-regular.otf") format("truetype");
}

@font-face {
    font-family: "WarnockRegular";
    src: url("/systems/motw/fonts/warnockpro-regular.otf") format("truetype");
}

/* ----------------------------------------- */

/*  Flexbox                                  */

/* ----------------------------------------- */

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexrow>* {
    flex: 1;
}

.flexrow .flex1 {
    flex: 1;
}

.flexrow .flex2 {
    flex: 2;
}

.flexrow .flex3 {
    flex: 3;
}

.flexrow .flex4 {
    flex: 4;
}

.flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flexcol>* {
    flex: 1;
}

.flexcol .flex1 {
    flex: 1;
}

.flexcol .flex2 {
    flex: 2;
}

.flexcol .flex3 {
    flex: 3;
}

.flexcol .flex4 {
    flex: 4;
}

.flexcolumn {
  display: flex;
  flex-flow: column;
  min-height: 0;
}